<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569911510477-c3jseqfk448i78iig50tsk4h24lcmicd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569911510477-c3jseqfk448i78iig50tsk4h24lcmicd</string>
	<key>API_KEY</key>
	<string>AIzaSyDyaNVS1Z-WbJceOt0Ya5boI5-CiNevLUc</string>
	<key>GCM_SENDER_ID</key>
	<string>569911510477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phoneApp</string>
	<key>PROJECT_ID</key>
	<string>phone-app-37cee</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-app-37cee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569911510477:ios:b7dfe2a2847bf78fab3084</string>
</dict>
</plist>